<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Optional: Custom styles */
        body {
            padding: 50px;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <div class="alert alert-danger">
        <!-- Iterate through each error message in the flash message -->
        <% errors.forEach(function (error) { %>
            <p><%= error %></p>
        <% }); %>
    </div>
<% } %>

<h2 class="text-center">Register</h2>
<!--enctype="multipart/form-data"-->
<form action="/register" method="POST" class="mx-auto" >
    <div class="form-group">
        <label for="username">Email:</label>
        <input type="email" id="email" name="email" class="form-control" required  value="<%= typeof old !== 'undefined' ? old.email : '' %>">
    </div>
    <div class="form-group">
        <label for="username">First Name:</label>
        <input type="text" id="firstName" name="firstName" class="form-control" required value="<%= typeof old !== 'undefined' ? old.firstName : '' %>">
    </div>
    <div class="form-group">
        <label for="username">Last Name:</label>
        <input type="text" id="lastName" name="lastName" class="form-control" required value="<%= typeof old !== 'undefined' ? old.lastName : '' %>">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
<!--    <div class="form-group">
        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo" class="form-control-file" accept="image/*">
    </div>-->
    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>

<!-- Register link -->
<div class="text-center mt-3">
    <a href="/login" class="btn btn-info">Login</a>
</div>

<!-- Bootstrap JS (Optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
