<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello, PDFKit! it is customized text in html</h1>
<p>This is a simple example of using pdfkit in Node.js to generate a PDF.</p>

<label>Something in pdf label</label>
<h2>Something in pdf h2</h2>

<blockquote>Something in pdf blockquote</blockquote>
<span>Something in pdf second</span>

<div>Something in pdf blockquote</div>
<h3>Something in pdf second</h3>

<b>Something in pdf second</b>
<h4>Something in pdf blockquote</h4>

<s>Something in pdf second</s>
<h5>Something in pdf blockquote</h5>

<u>Something in pdf second</u>
<h6>Something in pdf blockquote</h6>

<blockquote>Something in pdf blockquote</blockquote>
<span>Something in pdf second</span>

</body>
</html>